{% extends "base.html" %}

{% block title %} Edit Note {% endblock %}

{% block content %}

<main class="container-fluid">

    <form id="edit-note-form" method="POST">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->

        {% for field in form if field.widget.input_type != 'hidden' %}

        <div>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>

        {% endfor %}

        <button class="btn btn-primary" type="submit">Edit Note</button>
    </form>

</main>

{% endblock %}