{% extends "base.html" %}

{% block title %} Login User {% endblock %}

{% block content %}

<main class="container-fluid">
    <form id="login-user-form" method="POST">
        {{ form.hidden_tag() }}
        <!--add type=hidden form fields -->

        {% for field in form if field.widget.input_type != 'hidden' %}

        <div>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </div>

        {% endfor %}

        <button class="btn btn-primary" type="submit">Login User</button>
    </form>

    <br>
    <br>
    <div class="go-to-register">
        <div>Don't have an account yet?</div>
        <form action="/register">
            <button class="btn btn-success" type="submit">
                Create a User
            </button>
        </form>
    </div>
</main>

{% endblock %}